*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/
.tox
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/setup.cfg
MANIFEST.in
/setup.py

.mypy_cache
.venv

# Data and other artifacts
data
.ipynb_checkpoints
wandb
saved_models
